/* IMPORT*/
:root{
  --gris: #242424;
  --verde: #58DD94;
  --blanco: #F1F1F1;
}

body {
  background-color: var(--blanco)
}

/* App.jsx */
.encabezado{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--gris);
  text-align: center;
}

.encabezado img {
  max-width: 100%;
  max-height: 200px;
  margin: 10px 0;
}

.encabezado h1 {
  color: var(--blanco);
  text-shadow: 0 0 10px var(--verde); /* Agrega un resplandor verde al texto */
}

.encabezado p {
  color: var(--blanco);
}

.text-container {
  text-align: left;
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}


/* NavBar.jsx */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

/* Item.jsx */
.cards {
  padding: 1rem; 
  margin-top: 3rem;
}

.cards img {
  background-color: white; 
}

/* Item.jsx */

.agregar-al-carro {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff; /* Color del enlace */
  text-decoration: none;
}

.agregar-al-carro:hover {
  text-decoration: underline; /* Subrayar al pasar el ratón sobre el enlace */
}
